project          = "infra-272603"
public_key_path  = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image       = "reddit-base-1585621396"
zone             = "europe-north1-c"
public_key = [
  "appuser:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDIflLZ38sj04NqSmkejQBm1Ow/sXiE+xd0MAn+4AwaTH3AHvilIavh728NxnFxgUxj0wl1/1qd8dZIBKewWu8LYK9/HheeBXeHIb8eHiVdiT2TKWS+pAn2OLyue8p83JODaOiI8izVEuHv8tjo4C3MtUYS06LIPe73RT7gcMzj9JTEKS8u8R230aLIxdEBfwA9tSrE1YG2l4FPZVumwfd1Q/jGy26vjmkctdRHuq8MiSrQea1DfiWGnTKkkIwfgST9ioCVUBBaJn9f+rQgyYWZ+zjmAey0dFhqwhx0uD+HErPHgHtdaP0Oeu8dvt0ZqV/P6qxBrR71Iz4y0goOOqff appuser",
  "appuser1:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDZxv70y31M+NcThbknK3Oudb0ZYn/kWJbrkBSc6p2aR84qdkB8gEXd2NLjBhni3/5VyRo9PPCC7QBLABLvr28uULOfJ18udSdknrjdTUXmsE/bqP6YVf4BnHC99mOVsbpcrzmoAmEb2pcPTxTBb0eTNWAUCxkmuNbix6vKrcbubUzUU5LoanG3F6Fa14xD/3ZlJLyIrASr6ZcpFPnmGEJDsJBLfk33Jq3CFrkSaIGItFhuIToaMge1kqczQEG5aROwylh/+dMSEmrEM2YG7N4dbomOs3tTwT8L+hHImUnSV/3UUEOJgLq21cMGnqfI9lRB1e84U/Kcfx3j00utmfBz appuser1",
  "appuser2:ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQKK2J4PJzsn+MqfGLjy9mCOGdrW6ZHs0Tn7J/A42VwLX3wv2QI38sFJ5j+aJiBE4HXJho3phrcCnQBQnM4pf2XYLkuMXmaCU2TSkcDMBFcj97EoHCRfFCmzE4BHfVoyQgNzON1dQoDwFFbti1s5Moip20Of9t2m4XvFcrSgMHdvZlEK/IjEyWjuulhFPRSJ9u8C/NcLK0SICyqO80FtC+uitsklWCGRSIIbID3dkd67jZNPpnh0yHhnmkKNDwsRr3D+aLZ2WmbuAY1ubXHmEh5ZLnTm/ulSaC9seURq2tsxSkZOVsKZt0+/ThfjbTA788/Ux+yW41EwtYnH0Sg3+l appuser2"
]
