{
    "project_id": "infra-272603",
    "source_image_family": "reddit",
    "zone": "europe-north1-c",
    "machine_type": "g1-small",
    "image_description": "packer study",
    "disk_size": "10",
    "disk_type": "pd-standard",
    "network": "default",
    "tags": "puma-server"
  }
